In [88]:
from pandas import Series,DataFrame
import numpy as np
import pandas as pd

### 1 添加一个header
#### 总共27列，第一列为日期，最后两列为当日最大值与当日最小值

In [89]:
#arr_temp=np.empty(27)
#arr_temp[0]='date'
arr_temp=np.arange(24).tolist()
arr_str=[temp.zfill(2) for temp in np.arange(24).astype(str).tolist()]
#print(arr_temp1)
#.tolist()
#arr_str=[str(i) for i in arr_temp]
#arr_str

In [90]:
#arr_final=['date']
#arr_final.insert(1,arr_temp)

# python中向list中的指定位置插入数据使用insert
# python向list的末尾追加使用append
# 可使用extend向一个list追加一个list
arr_str.insert(0,'date')
arr_str.append('max')
arr_str.append('min')
print(arr_str)

['date', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'max', 'min']

### 2 指定names——列索引的名字  
### 方式（一）
#### 2.1所有的水文要素都是从00-23点的数据
#### 常规格式的水文要素有：wt和sl

In [91]:
#arr_str.insert(0,'date')
#arr_str.append('max')
#arr_str.append('min')
#print(arr_str)
print(arr_str)
#result= pd.read_table('data/test.07422',sep='\s+',header=arr_str)
result_wt= pd.read_table('data/wt1129.07422',sep='\s+',names=arr_str)
result_wt

['date', '00', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', 'max', 'min']

,date,00,01,02,03,04,05,06,07,08,...,16,17,18,19,20,21,22,23,max,min
0,20171129,17.0,17.0,16.9,16.9,16.9,16.9,16.9,16.8,16.8,...,999.8,999.8,999.8,999.8,999.8,999.8,999.8,999.8,17.0,16.7

### 方式（二）
#### columns改为 yyyyMMddHH

获取当日时间，生成当日00-23点的时间序列

In [92]:
# from datetime import datetime
# from datetime import timedelta
# now=datetime.now()
# print(now)
# now+timedelta(12)

#### 1-1获取起始及终止时间

In [93]:
from datetime import datetime
from datetime import timedelta
#import datetime
date_str='2017-11-29'
#date_target=datetime.datetime.strptime(date_str,'%Y-%m-%d')
date_target=datetime.strptime(date_str,'%Y-%m-%d')
print(date_target)
#date_end=date_target+datetime.timedelta(hours=24)
date_end=date_target+timedelta(hours=23)
print(date_end)

2017-11-29 00:00:00
2017-11-29 23:00:00

#### 1-2 生成起始及终止时间范围内的时间序列
#### 实现方式A：

In [94]:
date_list=pd.date_range(date_target,date_end,freq='H')
date_list

DatetimeIndex(['2017-11-29 00:00:00', '2017-11-29 01:00:00',
               '2017-11-29 02:00:00', '2017-11-29 03:00:00',
               '2017-11-29 04:00:00', '2017-11-29 05:00:00',
               '2017-11-29 06:00:00', '2017-11-29 07:00:00',
               '2017-11-29 08:00:00', '2017-11-29 09:00:00',
               '2017-11-29 10:00:00', '2017-11-29 11:00:00',
               '2017-11-29 12:00:00', '2017-11-29 13:00:00',
               '2017-11-29 14:00:00', '2017-11-29 15:00:00',
               '2017-11-29 16:00:00', '2017-11-29 17:00:00',
               '2017-11-29 18:00:00', '2017-11-29 19:00:00',
               '2017-11-29 20:00:00', '2017-11-29 21:00:00',
               '2017-11-29 22:00:00', '2017-11-29 23:00:00'],
              dtype='datetime64[ns]', freq='H')

#### 实现方式B：

In [95]:
date_list_b=pd.date_range(date_target,periods=24,freq='H')
date_list_b

DatetimeIndex(['2017-11-29 00:00:00', '2017-11-29 01:00:00',
               '2017-11-29 02:00:00', '2017-11-29 03:00:00',
               '2017-11-29 04:00:00', '2017-11-29 05:00:00',
               '2017-11-29 06:00:00', '2017-11-29 07:00:00',
               '2017-11-29 08:00:00', '2017-11-29 09:00:00',
               '2017-11-29 10:00:00', '2017-11-29 11:00:00',
               '2017-11-29 12:00:00', '2017-11-29 13:00:00',
               '2017-11-29 14:00:00', '2017-11-29 15:00:00',
               '2017-11-29 16:00:00', '2017-11-29 17:00:00',
               '2017-11-29 18:00:00', '2017-11-29 19:00:00',
               '2017-11-29 20:00:00', '2017-11-29 21:00:00',
               '2017-11-29 22:00:00', '2017-11-29 23:00:00'],
              dtype='datetime64[ns]', freq='H')

#### 1-3 去掉读取中的dataframe的date列

In [96]:
del result_wt['date']
result_wt

,00,01,02,03,04,05,06,07,08,09,...,16,17,18,19,20,21,22,23,max,min
0,17.0,17.0,16.9,16.9,16.9,16.9,16.9,16.8,16.8,16.8,...,999.8,999.8,999.8,999.8,999.8,999.8,999.8,999.8,17.0,16.7

#### 1-4 转置

In [97]:
result_wt=result_wt.T
result_wt.head(10)

       0
00  17.0
01  17.0
02  16.9
03  16.9
04  16.9
05  16.9
06  16.9
07  16.8
08  16.8
09  16.8

#### 1-5 切片，获取0-23点的数据，去掉min与max值

In [98]:
result_wt=result_wt[:-2]
result_wt.head(10)

       0
00  17.0
01  17.0
02  16.9
03  16.9
04  16.9
05  16.9
06  16.9
07  16.8
08  16.8
09  16.8

#### 1-6 对df的index赋值
* 注意此处对dataframe的index赋值，可以通过dataframe对象.index赋值的方式来改变已有的dataframe的index

In [99]:
# result_wt_b=pd.DataFrame(result_wt[0],index=date_list_b)
# result_wt_b
result_wt.index=date_list_b
result_wt.columns=['wt']
result_wt.head(10)

                       wt
2017-11-29 00:00:00  17.0
2017-11-29 01:00:00  17.0
2017-11-29 02:00:00  16.9
2017-11-29 03:00:00  16.9
2017-11-29 04:00:00  16.9
2017-11-29 05:00:00  16.9
2017-11-29 06:00:00  16.9
2017-11-29 07:00:00  16.8
2017-11-29 08:00:00  16.8
2017-11-29 09:00:00  16.8

#### 1-7 放入df中

In [100]:
from dateutil.parser import parse
import datetime
from dateutil.parser import parse

columns=['dt','wt','sl','wl','at','bp','rn','vb','hu','wd','ws']

* 当月起始日

In [101]:
start_datetime=datetime.datetime(2017,11,29,00)
start_datetime=datetime.date(start_datetime.year,start_datetime.month,1)  
start_datetime=parse(str(start_datetime))
start_datetime

datetime.datetime(2017, 11, 1, 0, 0)

* 当月终止日

In [102]:
end_datetime=pd.date_range(start_datetime,periods=1,freq='M')[0]
#end_datetime=end_datetime[0]+ datetime.timedelta(minutes=-1)
str(end_datetime)
end_datetime=datetime.datetime(end_datetime.year,end_datetime.month,end_datetime.day,23,59)
end_datetime=parse(str(end_datetime))
end_datetime

datetime.datetime(2017, 11, 30, 23, 59)

* 生成时间序列

In [103]:
date_list=pd.date_range(start_datetime,end_datetime,freq='H')
date_list

DatetimeIndex(['2017-11-01 00:00:00', '2017-11-01 01:00:00',
               '2017-11-01 02:00:00', '2017-11-01 03:00:00',
               '2017-11-01 04:00:00', '2017-11-01 05:00:00',
               '2017-11-01 06:00:00', '2017-11-01 07:00:00',
               '2017-11-01 08:00:00', '2017-11-01 09:00:00',
               ...
               '2017-11-30 14:00:00', '2017-11-30 15:00:00',
               '2017-11-30 16:00:00', '2017-11-30 17:00:00',
               '2017-11-30 18:00:00', '2017-11-30 19:00:00',
               '2017-11-30 20:00:00', '2017-11-30 21:00:00',
               '2017-11-30 22:00:00', '2017-11-30 23:00:00'],
              dtype='datetime64[ns]', length=720, freq='H')

* 创建内容为Na的dataframe

In [107]:
df_all=pd.DataFrame(columns=columns,index=date_list)
df_all.head(10)

                      dt   wt   sl   wl   at   bp   rn   vb   hu   wd   ws
2017-11-01 00:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 01:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 02:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 03:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 04:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 05:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 06:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 07:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 08:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2017-11-01 09:00:00  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

* 将刚才的wt的结果写入
 > 若以左右两个dataframe的index作为合并的索引，注意需要指定left_index与right_index=true  
 > 此种方式合并完是一个交集

In [108]:
#pd.merge(result_wt,df_all,left_index=True,right_index=True，how='left')
#此种方式是取并集
df_all=pd.merge(result_wt,df_all,left_index=True,right_index=True,how='inner')
df_all

,wt_x,dt,wt_y,sl,wl,at,bp,rn,vb,hu,wd,ws
2017-11-29 00:00:00,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 01:00:00,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 02:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 03:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 04:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 05:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 06:00:00,16.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 07:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 08:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 09:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 10:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 11:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 12:00:00,16.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 13:00:00,16.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 14:00:00,16.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 15:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 16:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 17:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 18:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 19:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 20:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 21:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 22:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 23:00:00,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* 以上面这种方式读取盐度数据

In [56]:
# 读取整点文件
result_sl= pd.read_table('data/sl1129.07422',sep='\s+',names=arr_str)
# 删除date列
del result_sl['date']
# 转置
result_sl=result_sl.T
result_sl=result_sl[:-2]
result_sl

         0
00  27.500
01  27.500
02  27.400
03  27.400
04  27.400
05  27.400
06  27.300
07  27.200
08  27.200
09  27.200
10  27.200
11  27.300
12  27.300
13  27.300
14  27.300
15  99.998
16  99.998
17  99.998
18  99.998
19  99.998
20  99.998
21  99.998
22  99.998
23  99.998

In [57]:
result_sl.index=date_list_b
result_sl.columns=['wt']
result_sl

                         wt
2017-11-29 00:00:00  27.500
2017-11-29 01:00:00  27.500
2017-11-29 02:00:00  27.400
2017-11-29 03:00:00  27.400
2017-11-29 04:00:00  27.400
2017-11-29 05:00:00  27.400
2017-11-29 06:00:00  27.300
2017-11-29 07:00:00  27.200
2017-11-29 08:00:00  27.200
2017-11-29 09:00:00  27.200
2017-11-29 10:00:00  27.200
2017-11-29 11:00:00  27.300
2017-11-29 12:00:00  27.300
2017-11-29 13:00:00  27.300
2017-11-29 14:00:00  27.300
2017-11-29 15:00:00  99.998
2017-11-29 16:00:00  99.998
2017-11-29 17:00:00  99.998
2017-11-29 18:00:00  99.998
2017-11-29 19:00:00  99.998
2017-11-29 20:00:00  99.998
2017-11-29 21:00:00  99.998
2017-11-29 22:00:00  99.998
2017-11-29 23:00:00  99.998

In [58]:
df_all=pd.merge(result_sl,df_all,left_index=True,right_index=True,how='outer')
df_all

,wt_x,wt_y,wt_x,dt,wt_y,sl,wl,at,bp,rn,vb,hu,wd,ws
2017-11-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-01 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-02 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-02 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-02 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-02 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-02 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-02 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-29 18:00:00,99.998,999.8,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 19:00:00,99.998,999.8,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 20:00:00,99.998,999.8,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 21:00:00,99.998,999.8,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 22:00:00,99.998,999.8,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-29 23:00:00,99.998,999.8,999.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 03:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 04:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 05:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 07:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 08:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 09:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 10:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 19:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 20:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 21:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 22:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-11-30 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### 2.2 所有的气象要素都是前一天21点-次日20点的数据
#### 常规格式的气象要素有：at  bp rn vb hu

In [95]:
# 前一天的时间
#datetime_yesterday=[str(i) for i in np.arange(21,24).astype(str)tolist()]
datetime_yesterday=np.arange(21,24).astype(str).tolist()
datetime_yesterday

['21', '22', '23']

In [109]:
# 当日的时间
#datetime_today=[str(i) for i in np.arange(0,21).tolist()]
datetime_today=np.arange(0,21).astype(str).tolist()
#datetime_today

In [106]:
# 拼接成一起
header_fin=datetime_yesterday
header_fin.append(datetime_today)
#header_fin

In [107]:
yesterday=np.arange(21,24).astype(str)
today=np.arange(0,21).astype(str)
# 气象时间list
meteorology_date=np.hstack((yesterday,today)).tolist()
#meteorology_date

In [108]:
meteorology_date.insert(0,'date')
meteorology_date.append('max')
meteorology_date.append('min')
#meteorology_date

#### （1）vb

In [1]:
result_vb= pd.read_table('data/vb1129.07422',sep='\s+',names=meteorology_date)
result_vb
result_vb[0]

NameError: name 'pd' is not defined

#### (2)  at

In [118]:
result_at= pd.read_table('data/at1129.07422',sep='\s+',names=meteorology_date)
result_at

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,18.9,17.5,17.5,17.3,16.9,16.5,16.5,16.0,15.9,...,13.2,13.3,999.8,999.8,999.8,999.8,999.8,999.8,19.8,13.1

#### （3）bp

In [120]:
result_bp= pd.read_table('data/bp1129.07422',sep='\s+',names=meteorology_date)
result_bp

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,1014.1,1014.2,1013.8,1013.9,1013.9,1013.5,1013.4,1013.8,1013.7,...,1014.0,1013.5,9999.8,9999.8,9999.8,9999.8,9999.8,9999.8,1015.6,1013.2

#### (4) rn

In [121]:
result_rn= pd.read_table('data/rn1129.07422',sep='\s+',names=meteorology_date)
result_rn

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,0.6,1.4,1.5,0.7,0.7,0.1,0.2,0.3,99999.8,...,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### （5）hu

In [123]:
result_hu= pd.read_table('data/hu1129.07422',sep='\s+',names=meteorology_date)
result_hu

,date,21,22,23,0,1,2,3,4,5,...,13,14,15,16,17,18,19,20,max,min
0,20171129,94,97,97,97,86,88,87,89,89,...,98,99,998,998,998,998,998,998,99,82

### 现做如下修改：
修改columns之前的小时名为具体时间名（yyyyMMddHH）此种方式

In [124]:
import datetime

In [125]:
today=datetime.datetime.now()
print(today)

2017-12-06 16:25:20.703939

In [128]:
yesterday=datetime.datetime.now() + datetime.timedelta(-1)
print(yesterday)

2017-12-05 16:26:34.982613

### （1）获取今天和昨天的yyyMMdd

In [132]:
today.strftime("%Y%m%d")

'20171206'

In [133]:
yesterday.strftime("%Y%m%d")

'20171205'

写一个lambda表达式，将数组和日期向list中写入日期加数组的结果

In [151]:
#result= pd.read_table('data/SQ201703060300.07422',sep='\s+')
func=lambda x,y:[x+t for t in y]
datetime_yesterday=np.arange(21,24).astype(str)
datetime_today=np.arange(0,21).astype(dtype='|S2')
date_list=np.hstack((datetime_yesterday,datetime_today)).tolist()
print(date_list)
func(today.strftime("%Y%m%d"),date_list)

['21', '22', '23', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20']

['2017120621',
 '2017120622',
 '2017120623',
 '201712060',
 '201712061',
 '201712062',
 '201712063',
 '201712064',
 '201712065',
 '201712066',
 '201712067',
 '201712068',
 '201712069',
 '2017120610',
 '2017120611',
 '2017120612',
 '2017120613',
 '2017120614',
 '2017120615',
 '2017120616',
 '2017120617',
 '2017120618',
 '2017120619',
 '2017120620']

#### 换另外一个思路根据起始及终止时间（或者根据实际情况——生成一个月时间列表）

In [152]:
target_month=11

In [162]:
    def getbetweenHours(start,finish):  
        date_list = []  
        start_date = datetime.datetime.strptime(start, '%Y-%m-%d %H:%M:%S')  
        finish_date = datetime.datetime.strptime(finish, '%Y-%m-%d %H:%M:%S')  
        while start_date <= finish_date:  
            date_str = start_date.strftime("%Y%m%d%H")  
            date_list.append(date_str)  
            start_date += datetime.timedelta(hours=1)  
        #print(date_list)
        return date_list  
#     d1 = datetime.datetime.strptime('2017-11-01 00:00:01', '%Y-%m-%d %H:%M:%S')
#     d2 = datetime.datetime.strptime('2017-11-30 23:59:59', '%Y-%m-%d %H:%M:%S')

    def getbetweenDays(start,finish):
        date_list=[]
        start_date=datetime.datetime.strptime(start,'%Y-%m-%d %H:%M:%S') 
        finish_date = datetime.datetime.strptime(finish, '%Y-%m-%d %H:%M:%S')  
        while start_date <= finish_date:  
            date_str = start_date.strftime("%Y%m%d%H")  
            date_list.append(date_str)  
            start_date += datetime.timedelta(1)  
        #print(date_list)
        return date_list  
    def getTargetMonthAllDaysList(date_str):
        # 获得当月的起始时间
        start = datetime.datetime.strptime(date_str, '%Y-%m-%d')
        print(start)
    d1 = '2017-11-01 00:00:01'
    d2 = '2017-11-30 23:59:59'
    #print(getbetweenHours(d1,d2))
    
    getbetweenDays(d1,d2)
    
    getTargetMonthAllDaysList("2017-11-01")

2017-11-01 00:00:00